#welcome{
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome a:hover{
    text-decoration: none;
    color: seagreen;
}

#message input, #message textarea{
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding: 5px;
}

#message textarea{
    width: 100%;
    resize: none;
    margin-bottom: 15px;
    height: 5em;
}

#topBlock{
    display: flex;
    flex-wrap: wrap;
}

#topBloc *{
    width: 49%;
}

#message input[type=submit]{
    float: right;
    background-color: #2579A9;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.msgHead {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content{
    width: 100%;
    text-align: center;
}

#read{
    max-width: 700px;
}

#read input[type=submit]{
    color: red;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}
#read form{
    display: flex;
    flex-direction: row-reverse;
}
#potato{
    background-color: red;
    width: 100%;
    height: 98vh;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#potato h1{
    color: purple;
    text-align: center;
}
#potato span{
    color: green;
}
#potato div{
    color: orange;
}